pdf=org.ds.handlingtypes.PDFHandler
ppt=org.ds.handlingtypes.PowerPointPptHandler
log=org.ds.handlingtypes.PlainTextHandler
docx=org.ds.handlingtypes.WordDocxHandler
txt=org.ds.handlingtypes.PlainTextHandler
html=org.ds.handlingtypes.HTMLHandler
xls=org.ds.handlingtypes.ExcelXlsHandler
htm=org.ds.handlingtypes.HTMLHandler
pptx=org.ds.handlingtypes.PowerPointPptxHandler
doc=org.ds.handlingtypes.WordDocHandler
xlsx=org.ds.handlingtypes.ExcelXlsxHandler
rtf=org.ds.handlingtypes.RTFHandler
mp3=org.ds.handlingtypes.AudioHandler
